/* Header Styles */
#headerGeneral {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    box-shadow: 0 0.3vh 0.8vh rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding-top: 1vh;
}

#logo {
    flex: 0;
    text-align: center;
    max-width: 30vw;
    max-height: 30vh;
    object-fit: contain;
    font-size: 4vh;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    box-shadow: 0 -0.3vh 0.8vh rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.icons {
    flex: 1;
    text-align: center;
    max-width: 5vw;
    max-height: 5vh;
    object-fit: contain;
    font-size: 3.5vh;
}

/* Points */
#getPointsButton {
    background-color: rgb(103, 220, 103);
    color: white; /* Textfarbe */
    font-size: 3vh; /* Schriftgröße */
    text-align: center;
    padding: 1.5vh 3vw; /* Innenabstand */
    border-radius: 10px; /* Abgerundete Ecken */
    margin: 5vh auto; /* Zentrierung und Abstand */
    width: 60%; /* Breite des Buttons */
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
}

#numberOfPoints {
    font-size: 15vh;
    color: white; /* Textfarbe */
    text-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.3);
    margin: -10vh 0 0 0; /* Korrigierter Abstand */
}

#stylingBoxForPoints {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75vh;
    background-color: rgb(16, 179, 16);
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 10vh;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.2);
}


#profilBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 40vw;
    left: 10vh;
}
#pointIcon{
    font-size: 15vh;
    transform: scale(1.5);
}

#profilIcon{
    text-align: center;
}
#profilIcon img{
    width: 20vw;
}
